//:host {
//  display: block;
//}
//
//// Ensure Material Table fits our Tailwind design
//.mat-mdc-table {
//  background: transparent;
//}
//
//.mat-mdc-row:last-child .mat-mdc-cell {
//  border-bottom: none;
//}
:host {
  display: block;
  position: relative; // Needed for the absolute progress bar positioning
}
